.homePageContainer {
  display: grid;
  grid-template-columns: minmax(150px, 0.4fr) 1.1fr 1fr;
  grid-template-rows: minmax(600px, 1fr) 0.15fr;
  gap: 0px 5px;
  grid-template-areas:
    "menu main main"
    "footer footer footer";
}

.menu {
  grid-area: menu;
  color: rgb(255, 255, 255);
  border: 2px solid rgba(255, 132, 153, 0.898);
  border-radius: 0px 4px 4px 0px;
  background-color: rgb(220, 220, 220);
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  background-color: rgb(167, 165, 165);
  border-radius: 5px 5px 0px 0px;
}
